@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');



body {
    zoom: 110%;
    background-color: rgb(243, 244, 244);
}

.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.modal-header {
    background-color: rgb(108, 108, 247);
    color: #fff;
}


.btn-success {
    background-color: rgb(108, 108, 247);
    border: 2px solid rgb(108, 108, 247);
    border-radius: 10px;
}

.btn-success:hover {
    transition: 1000ms;
    padding: 10px 30px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgb(108, 108, 247);
    border: solid 2px rgb(108, 108, 247);
}

.btn-warning {
    color: #fff !important;
    border-radius: 10px;
}

.btn-primary {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: rgb(108, 108, 247);
    padding: 10px 30px;
    border: 2px solid rgb(108, 108, 247);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-primary:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgb(108, 108, 247);
    border: solid 2px rgb(108, 108, 247);
}

.btn-danger {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #d9534f;
    padding: 5px 15;
    border: 2px solid #d9534f;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-danger:hover {
    transition: 1000ms;
    padding: 5px 20px;
    transform: translateY(-0px);
    background-color: #d95356;
    border: 2px solid #d9534f;
}

.btn-secondary {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #f0ad4e;
    padding: 5px 15;
    border: 2px solid #f0ad4e;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-secondary:hover {
    transition: 1000ms;
    padding: 5px 20px;
    transform: translateY(-0px);
    background-color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-outline-success {
    background-color: rgb(108, 108, 247);
    border: 2px solid rgb(108, 108, 247);
    border-radius: 10px;
    color: #fff;
}

.btn-outline-success:hover {

    background-color: #ed0c0c;
    border: 0
}



.fa {
    color: #fff;
    margin-right: 10px;
}

.nav .fa {
    color: rgb(108, 108, 247);
    border: 2px solid rgb(108, 108, 247);
    padding: 10px;
    border-radius: 5px;
}

.nav .fa:hover {
    transition: 1000ms;
    padding: 10px 20px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgb(108, 108, 247);
    border: solid 2px rgb(108, 108, 247);

}

.bg-body-tertiary {
    background-color: #7f8bbb !important;
}



.ilis {
    font-weight: 900;
}


thead {
    background-color: rgb(108, 108, 247);
    color: #fff;

}

.mayus-td {
    text-transform: capitalize;
}

.mayus-td .fa {
    color: #111111;
}

.navbar .ul {
    color: #fff !important;
}

.nav-link {
    color: #ffffff !important;
}

.navbar-brand {
    color: #e9e1e1;
    color: rgb(108, 108, 247);
    border: 0px solid rgb(108, 108, 247);
    padding: 10px;
    border-radius: 15px;
}

.navbar-brand .fa {
    color: rgb(251, 251, 253);
}

.navbar-brand:hover {
    transition: 1000ms;
    color: rgb(229, 229, 242);


}

.text-primary {
    color: #f9f3f3 !important;
}

.text-primary .fa {
    color: #f9f3f3 !important;



}

.collapse .fa {
    color: #fff;
}

footer {
    background-color: rgb(236, 240, 240);
    padding: 3em;
    font-weight: 500;
    font-size: .9em;
    position: absolute;
    width: 100%;

}

a {
    text-decoration: none;
    color: rgb(108, 108, 247);
}

.hr-sidebar {
    height: 6px;
    background-color: rgb(247, 241, 241) !important;
    margin: 15px;
}

.container-p {
    max-width: 83%;

}

.img-ilis{
    padding: 15px;
}

.img-ilis img{
    max-width: 100%;
    margin-bottom: 25px;
}

.users-title{
    font-size: 25px !important;
}

.bg-secondary{
    -webkit-box-shadow: 1px 0px 5px 0px rgba(148,145,148,1);
-moz-box-shadow: 1px 0px 5px 0px rgba(148,145,148,1);
box-shadow: 1px 0px 5px 0px rgba(148,145,148,1);
}

.title-color-users{
    color:rgb(242, 245, 242);
    font-weight: 800;
}

.hr-subHeader{
    height: 10px;
    background-color: rgb(247, 241, 241) !important;

   

}

.card-text{
    color: #fff;
}